.start-time, .start-date {
  width: 55px;
}

html {
  background-color: #E1EDE1;
  font-family: 'Abel';
  text-align: center;
}

input, textarea {
  margin-top: 5px;
  border-radius: 5px;
  border: thin solid #212121;
  padding: 2px;
  font-size: 36px;
}

button, a {
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  font-size: 48px;
  border: thin solid #212121;
}

a {
  text-decoration: none;
  color: #000;
  background-color: rgb(221, 221, 221);
  padding: 0px 5px;
}

table {
  margin: 0 auto;
  font-size: 36px;
}

th {
  border: solid thin #000;
  background-color: grey;
}

td {
  height: 31px;
  border: solid thin #000;
}
